.wrapper {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  gap: 30px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.list {
  display: flex;
  gap: 20px;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  padding-bottom: 30px;
}
