.form_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 15px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.input {
  height: 40px;
  border-radius: 15px;
  outline: none;
}

.error {
  color: red;
}

.btn_submit {
  padding: 15px 40px;
  background-color: aqua;
  border: none;
  border-radius: 30px;
}
