.register_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.title {
  font-size: 22px;
  margin-bottom: 24px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 15px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.input {
  height: 50px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #e8e8e8;
  background-color: #f6f6f6;
  padding-left: 10px;
  width: 400px;
}

.error {
  color: red;
}

.btn_submit {
  padding: 15px 40px;
  background-color: #e8e8e8;
  font-size: 18px;
  border: none;
  border-radius: 30px;
}

.radio_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.radio_label {
  font-size: 18px;
}

.radiobtn_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radiobtn_wrapper label {
  font-size: 18px;
}
